:root {
    --sizeImage: 200px; 
    --h1FontSize: clamp(24px, 5vw, 80px);
}

html {
    scroll-snap-type: y mandatory;
    scroll-padding-top: 30px;
    background-color: lightcyan;
    font-family: 'Times New Roman', Times, serif;
}

section {
    height: 100vh;
    margin: 20px;
    border: 3px solid white;
    border-radius: 15px;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    box-shadow: 3px 3px 10px slategray;
    background-color: white;
}

nav {
    display: none;
}

img {
    border: lightskyblue 10px solid;
    padding: 10px;
    border-radius: 50%;
    margin: 3vh 2vw;
    height: var(--sizeImage);
    width: var(--sizeImage);
    object-fit: cover;
    float: left;
}

.container {
    width: calc(100vw - var(--sizeImage) - 40px - 8vw - 86px);
    height: calc(var(--sizeImage) / 2);
    margin: calc(3vh + 20px + var(--sizeImage) / 4) 2vw;
    background-color: lightskyblue;
    float: left;
    display: flex;
    border-radius: 15px;
}

.container h1 {
    margin: auto;
    font-size: var(--h1FontSize);
    text-align: center;
    color: white;
}


.paragraphContainer {
    background-color: whitesmoke;
    padding: 1px 3px;
    width: calc((100% - 4vw - 24px) / 2);
    height: calc(100% - var(--sizeImage) - 10vh - 64px);
    margin: 1vh 2vw 2vh;
    font-size: clamp(15px, 1.7vw, 24px);
    border: 2px solid gray;
    border-radius: 5px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactInformation {
    margin: 2vh 2vw;
    padding: 10px;
    width: calc((100% - 8vw - 24px) / 2);
}

.contactInformation td:nth-child(odd) {
    padding: 10px 0;
    color: dodgerblue;
    font-weight: bold;
    font-size: clamp(14px, 1.4vw, 24px); 
}

.contactInformation td:nth-child(even) {
    color: black;
    font-size: clamp(14px, 1.3vw, 24px);
    text-align: right;
}

h1 {
    color: slategray;
    font-size: var(--h1FontSize);
    text-align: center;
    margin: 2vh 2vw;
}

iframe {
    width: calc(100% - 40px - 2vw);
    margin: 0 2vw;
    height: calc(100% - 4vh - 46px - var(--h1FontSize));
}

#inputElements {
    display: flex;
    margin: 10px auto;
    width: 60vw;
    padding: 10px;
    justify-content: center;
}

#inputElements input {
    margin: 0 15px;
    font-size: clamp(15px, 1.7vw, 24px);
}

.playerBox {
    background-color: lightskyblue;
    border-radius: 10px;
    display: flex;
    width: 70vw;
    margin: 0 auto;
    justify-content: center;
    padding: 20px;
}

.playerBox button {
    font-size: 10vw;
    padding: 10px 20px;
    float: left;
    margin: 10px;
    border-radius: 10px;
}

.endResults {
    margin: 0 auto;
    width: 70vw;
    text-align: center;
    font-size: clamp(15px, 5vw, 36px);
}

#computerElement, #scoreMessage, #resultMessage {
    margin: 10px;
}
